<form action="/editar_funcionario_pessoa">

    <label for="">Id pessoal</label><br>
    <input type="text" name="" id="" value="{{pessoa['Id_pessoal']}}" readonly>
    <br><br>
    <label for="">Id funcionário</label><br>
    <input type="text" name="" id="" value="{{pessoa['Id_funcionario']}}" readonly>
    <br><br>
    <label for="id_nome"></label>Nome<br>
    <input type="text" name="nome" id="id_nome" value="{{pessoa['Nome']}}">
    <br><br>
    <label for="id_cpf">Cpf</label><br>
    <input type="text" name="cpf" id="id_cpf" value="{{pessoa['Cpf']}}">
    <br><br>
    <label for="id_telefone">Telefone</label><br>
    <input type="text" name="telefone" id="id_telefone" value="{{pessoa['Telefone']}}">
    <br><br>
    <label for="id_cargo">Cargo</label><br>
    <input type="text" name="cargo" id="id_cargo" value="{{pessoa['Cargo']}}">
    <br><br>
    <label for="id_salario">Salario</label><br>
    <input type="text" name="salario" id="id_salario" value="{{pessoa['salario']}}">
    <br><br>
    <button type="submit" class="btn-info btn-large btn">Alterar</button>
</form>
<form action="/deletar">
    <button type="submit" class="btn-danger btn-large btn">Deletar</button>
</form>