<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../static/estilo.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <title>HBSIS - Listagem</title>
</head>

<body>

    <!-- Topo do site -->
    <header>
        <nav>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Cadastrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listagem">Listar</a>
                </li>
            </ul>
        </nav>
    </header>

    <h1 class="centro">Listagens</h1>


    <div class="p-5">

        <!-- Listagem de Pessoas -->
        <div class="drop_down espacamento">
            <button class="btn btn_c tamanho" onclick="drop_down1()" ondblclick="drop_up1()" type="button">
                Pessoas
            </button>
            <div class="form_dd1">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Telefone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in pessoa %}
                        <tr>
                            <td>{{p["Id"]}}</td>
                            <td>{{p["Nome"]}}</td>
                            <td>{{p["Cpf"]}}</td>
                            <td>{{p["Telefone"]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <!-- Listagem de Funcionários -->
        <div class="drop_down espacamento">
            <button class="btn btn_c tamanho" onclick="drop_down2()" ondblclick="drop_up2()" type="button">
                Funcionários
            </button>
            <div class="form_dd2">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>ID Pessoal</th>
                            <th>Cargo</th>
                            <th>Salário</th>
                            <th class="tr pr-4">Opção</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for f in funcionario %}
                        <tr>
                            <td>{{f["Id"]}}</td>
                            <td>{{f["Id_pessoal"]}}</td>
                            <td>{{f["Cargo"]}}</td>
                            <td>{{f["Salario"]}}</td>
                            <td class="tr"><a class="btn btn-primary" href="/editar?id_pessoal={{f['Id_pessoal']}}">Editar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>



        <!-- Listagem de  Linguagem -->
        <div class="drop_down espacamento">
            <button class="btn btn_c tamanho" onclick="drop_down3()" ondblclick="drop_up3()" type="button">
                Linguagens
            </button>
            <div class="form_dd3">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Linguagem</th>
                            <th class="tr pr-4">Opção</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for l in linguagem %}
                        <tr>
                            <td>{{l["Id"]}}</td>
                            <td>{{l["Nome"]}}</td>
                            <td class="tr"><a class="btn btn-primary" href="/editar?id_linguagem={{l['Id']}}">Editar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <!-- Listagem de Equipes -->
        <div class="drop_down espacamento">
            <button class="btn btn_c tamanho" onclick="drop_down4()" ondblclick="drop_up4()" type="button">
                Equipes
            </button>
            <div class="form_dd4">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID Equipe</th>
                            <th>Pessoa 1</th>
                            <th>Pessoa 2</th>
                            <th>Pessoa 3</th>
                            <th>Pessoa 4</th>
                            <th class="tr pr-4">Opção</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in equipe %}
                        <tr>
                            <td>{{e["Id"]}}</td>
                            <td>{{e["Pessoa_1"]}}</td>
                            <td>{{e["Pessoa_2"]}}</td>
                            <td>{{e["Pessoa_3"]}}</td>
                            <td>{{e["Pessoa_4"]}}</td>
                            <td class="tr"><a class="btn btn-primary" href="/editar?id_equipe={{e['Id']}}">Editar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="../static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>