body{
    margin: 10px;
}

header{
    background: #E8902C;
    overflow: hidden;
    margin-bottom: 200px;
}

header nav{
    float: right;
}

header a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 30px 12px;
}

nav{
    height: 70px;
}

.btn-primary {
    color: #fff;
    background-color: #E8902C!important;
    border-color: #E8902C!important;
}

.btn-secondary{
    background: #E8902C!important;
    border-color: #E8902C!important;
}

.tamanho{
    width: 100%;
}

.margin{
    margin-bottom: 15px;
}

.centro{
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
}

.espacamento{
    margin-bottom: 15px;
}

.dropdown-menu{
    text-align: center!important;
}