body{
    margin: 10px;
}

header{
    background: #FF96F1;
    overflow: hidden;
}

header nav{
    float: right;
}

header a{
    font-size: 20px;
    color: #8F3CEB;
    text-decoration: none;
    display: inline-block;
    padding: 30px 12px;
}

.btn-primary {
    color: #fff;
    background-color: #E8902C!important;
    border-color: #E8902C!important;
}

.btn-secondary{
    background: #E8902C!important;
    border-color: #E8902C!important;
}

.tamanho{
    width: 100%;
}